<h1>Справочник категорий</h1>
<button type="button" class="btn btn-primary" id="showAddCategory">Добавить категорию</button>

<table class="table" id="categories">
    <thead>
    <th>id</th>
    <th>Категория</th>
    </thead>
</table>

<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryModalLabel">Новая категория</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="category-name" class="col-form-label">Категория:</label>
                        <input type="text" class="form-control" id="nameCategory">
                        <input type="hidden" id="idCategory" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveCategory">Сохранить</button>
            </div>
        </div>
    </div>
</div>