<h1>Справочник продуктов</h1>
<button type="button" class="btn btn-primary" id="showAddProduct">Добавить продукт</button>

<table class="table" id="products">
    <thead>
    <th>id</th>
    <th>Название</th>
    <th>Артикул</th>
    <th>Возраст</th>
    <th>Цена</th>
    <th>Вес</th>
    </thead>
</table>

