<h1>Справочник продукты-категории</h1>

<table class="table" id="productsCategories">
    <thead>
    <th>id</th>
    <th>Название</th>
    <th>Артикул</th>
    <th>Категории</th>
    </thead>
</table>

<div class="modal fade" id="editProductCategoriesModal" tabindex="-1" role="dialog" aria-labelledby="editProductCategoriesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductCategoriesLabel">Продукт - Категории</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Название продукта:</h5>
                <p id="nameProduct"></p>
                <h5>Артикул:</h5>
                <p id="vendorCode"></p>
                <table class="table" id="productCategories">
                    <thead>
                    <th>
                        id
                    </th>
                    <th>
                        Категория
                    </th>
                    <th>

                    </th>
                    </thead>
                </table>
                <form>
                    <div class="form-group">
                        <label for="product-category" class="col-form-label">Категория:</label>
                        <select class="form-control" id="categoriesList">
                        </select>
                        <input type="hidden" id="idProduct" value="">
                        <button type="button" class="btn btn-primary" id="addCategory">Добавить</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>