<h1>Справочник пользователей</h1>
<button type="button" class="btn btn-primary" id="showAddUser">Добавить пользователя</button>

<table class="table" id="users">
    <thead>
    <th>id</th>
    <th>ФИО</th>
    <th>Логин</th>
    <th>E-Mail</th>
    </thead>
</table>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Новый Пользователь</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user-username" class="col-form-label">Логин:</label>
                        <input type="text" class="form-control" id="userName">
                        <label for="user-email" class="col-form-label">E-mail:</label>
                        <input type="text" class="form-control" id="email">
                        <label for="user-fullname" class="col-form-label">ФИО:</label>
                        <input type="text" class="form-control" id="fullName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveUser">Сохранить</button>
            </div>
        </div>
    </div>
</div>


<form>
    <input type="hidden" id="idUser" value="">
</form>