<div class="col-sm">
    <h5>Если у Вас есть вопросы или пожелания, Вы можете связаться с нами удобным для Вас способом:</h5 >
    <p>
        <img src="/img/icons/phone.svg" style="height: 16px"> +7 917 840 66 19‬
    </p>
    <p>
        <img src="/img/icons/mail.svg" style="height: 16px"><a href="mailto:rv@agams.ru" style="text-decoration: none"> rv@agams.ru</a>
    </p>
    <h6> Мы в соцсетях:</h6>
    <p>
        <a href="https://www.instagram.com/agams_toy" style="text-decoration: none"><img src="/img/instagram-logo.png" style="height: 32px">
            <img src="/img/instagram-logo-label.png" style="height: 32px"></a>
    </p>
</div>
<!--
<div class="col-sm-8" id="call-form">
        <h5>Заполните форму и мы перезвоним Вам</h5>
        <div class="form-group">
            <label for="firstName">Фамилия Имя Отчество</label>
            <input type="text" class="form-control" id="fullName" name="fullName">
                <div class="invalid-feedback">
                    Пожалуйста введите Фамилию Имя Отчество.
                </div>
        </div>
            
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="+7 123 456 78 90">
            <div class="invalid-feedback">
                Пожалуйста введите телефон для связи.
            </div>
        </div>
    <button class="btn btn-primary" action="callCreate" type="button">Перезвоните мне</button>
</div>

<div class="modal fade" id="callPopup" tabindex="-1" role="dialog" aria-labelledby="callPopupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="callLabel">Заказ обратного звонка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Уважаемый <span id ="fullNamePopup"></span>, спасибо, за Ваше внимание к нашему магазину.
                    Мы скоро свяжемся с Вами.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">ОК</button>
            </div>
        </div>
    </div>
</div>
-->
