<div class="col-sm">
    <h3>Если у Вас есть вопросы или пожелания, Вы можете связаться с нами удобным для Вас способом</h3>
    <p>
        <img src="/img/icons/phone.svg" style="height: 16px"> +7 917 840 66 19‬
    </p>
    <p>
        <img src="/img/icons/mail.svg" style="height: 16px"><a href="mailto:rv@agams.ru" style="text-decoration: none"> rv@agams.ru</a>
    </p>
    <h6>Наши партнеры:</h6>
    <ul>
        <li>
        <a href="https://www.instagram.com/agams_toy" style="text-decoration: none"><img src="/img/instagram-logo.png" style="height: 32px">
            <img src="/img/instagram-logo-label.png" style="height: 32px"></a>
        </li>
        <li>
            <a href="https://www.sova-toys.ru" style="text-decoration: none"><img src="/img/instagram-logo.png" style="height: 32px">
                <img src="/img/instagram-logo-label.png" style="height: 32px">Интернет-магазин "Совушкина лавка"</a>
        </li>
    </ul>

</div>
