<div>
    <h3>Мы рады приветствовать Вас</h3>
    <p>
        Вы находитесь на сайте магазина развивающих игрушек <a href="agams.ru">Agams</a>. Мы только начинаем развиваться в мире цифровых технологий, поэтому наш ресурс будет меняться у вас на глазах. Приносим извинения, если что-то пойдет не так. Мы прилагаем все усилия, чтобы стать лучше и удобнее. 
        <a href="/contacts">Это ссылка для того, чтобы вы могли найти удобный способ связи с нами</a>
    </p>

    <p>
        А пока мы предлагаем вам ознакомиться с нашими  
        <a href="/toys">игрушками</a>.
    </p>

</div>