<div>
    <h3>Мы рады приветствовать Вас</h3>
    <p>
        Вы находитесь на сайте производителя развивающих игрушек <a href="/">"АГАМС"</a>. 
        Мы только начинаем развиваться в мире цифровых технологий, поэтому наш ресурс будет меняться у вас 
        на глазах. Приносим извинения, если что-то пойдет не так. Мы прилагаем все усилия, чтобы стать лучше 
        и удобнее. 
    </p>

    <p>
        А пока мы предлагаем вам познакомиться с нашими  
        <a href="/toys">игрушками</a>.
    </p>
    <h3>
        Обращаем Ваше внимание.
    </h3>
    <p>
        Мы только создаем и производим игрушки для Вас и Ваших детей. Розничной торговлей занимаются наши 
        партнеры:     
    </p>
    <ul>
        <li>
            <a href="https://www.instagram.com/agams_toy" style="text-decoration: none"><img src="/img/instagram-logo.png" style="height: 32px"> <span>Наши друзья в сети Instagram</span></a>
        </li>
        <li>
            <a href="https://www.sova-toys.ru" style="text-decoration: none"><img src="https://www.sova-toys.ru/css/xsovalogo1.png.pagespeed.ic.Ko1vNNTDQq.webp" style="height: 64px"><span>Совушкина лавка – магазин развивающих игрушек</span></a>
        </li>
    </ul>
    
    <p>
        Они будут рады помочь Вам по любому интересующему вопросу.
    </p>

    <p>
        Предложения и вопросы по поводу сотрудничества будем ждать на нашей электронной почте
        <img src="/img/icons/mail.svg" style="height: 16px"><a href="mailto:rv@agams.ru" style="text-decoration: none"> rv@agams.ru</a>
    </p>
</div>